.form{
  padding: 1rem;
  width: 100%;
  .actions{
    display: flex;
    flex-direction: row;
  }
  input{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-bottom:1rem ;
  }
  button{
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}