.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15rem);

  section {
    width: 50%;

    h2 {
      margin-top: 2rem;
      font-size: 1.75rem;
      text-align: center;

    }

    form {
      margin: 1rem 0 1rem;

      input, label {
        width: 70%;
      }

      label {
        font-size: 1.25rem;
        margin-top: 1rem;
      }

      input {

        margin: 1rem 0 0 0;

        padding: 1rem;
        height: 3rem;

        background-color: transparent;
        color: inherit;
        border-color: #969696;

        font-weight: 500;

        &:hover {
          background-color: #444444;
          border: 1.5px solid white;
        }
      }

      .actions {

        display: flex;
        justify-content: center;

        button {

          width: 70%;
          height: 3rem;
          margin-top: 1.5rem;

        }
      }
    }

    .redirect {
      width: 70%;
      margin: 2rem auto;
      display: flex;
      flex-direction: row;

      p {
        margin-right: 1rem;
      }

      a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid #969696;
        padding-bottom: 6px;

        &:hover {
          color: #969696;
        }
      }
    }
  }
}
.error{
  width: 80%;
  margin: 0 auto;
text-align: center;
  color: #fa5c5c;
}
